<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Auto Unlock Mode</h3>
  </div>
  <div class="panel-body">
    <p>Your gate will automatically unlock while enabled. Set an optional timer to disable auto unlock when the timer expires.</p>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Select a time...</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">15 minutes</a></li>
        <li><a href="#">30 minutes</a></li>
        <li><a href="#">45 minutes</a></li>
        <li><a href="#">60 minutes</a></li>
        <li><a href="#">90 minutes</a></li>
        <li><a href="#">120 minutes</a></li>
        <li><a href="#">3 hours</a></li>
        <li><a href="#">4 hours</a></li>
        <li><a href="#">5 hours</a></li>
        <li><a href="#">6 hours</a></li>
        <li><a href="#">7 hours</a></li>
        <li><a href="#">8 hours</a></li>
        <li><a href="#">9 hours</a></li>
        <li><a href="#">10 hours</a></li>
        <li><a href="#">11 hours</a></li>
        <li><a href="#">12 hours</a></li>
      </ul>
    </div>
    <button type='button' class='btn btn-primary start-timer'>Start Timer</button>

  </div>
</div>