<div class="row">
  <div class="col-md-3">
    <div class="btn-group-vertical" data-toggle="buttons">
      <li class="list-group-item text-center"><strong>Mode</strong></li>

      <label class="btn btn-default btn-lg">
        <input type="radio" name="mode" id="manual"><small>Manual</small>
      </label>
      <label class="btn btn-success btn-lg active">
        <input type="radio" name="mode" id="autounlock"><small>Auto Unlock</small>
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="mode" id="pinunlock"><small>Pin Unlock</small>
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="mode" id="forward"><small>Forward</small>
      </label>
      <!-- <button type="button" class="btn btn-default btn-lg">Manual</button> -->
      <!-- <button type="button" class="btn btn-success btn-lg">Auto Unlock</button> -->
      <!-- <button type="button" class="btn btn-default btn-lg">Pin Unlock</button> -->
      <!-- <button type="button" class="btn btn-default btn-lg">Forward</button> -->
    </div>
  </div>

  <div class="col-md-9">
    <%= render "autounlock" %>
  </div>
</div>

</br>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->

