<div class="jumbotron">
  <h1>Welcome.</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Twilio Voice Request URL</h3>
  </div>
  <div class="panel-body">
    http://doormanapp.herokuapp.com/voice/incoming
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Unlock Digits</h3>
  </div>
  <div class="panel-body">
    <%= @unlock_digits %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Message</h3>
  </div>
  <div class="panel-body">
    <%= @message %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recipient</h3>
  </div>
  <div class="panel-body">
    <%= @recipient %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Auto-unlock</h3>
  </div>
  <div class="panel-body">
    <%= @status %>
  </div>
</div>