<div class="row">
  <div class="col-md-3">
    <div class="btn-group-vertical" data-toggle="buttons">
      <li class="list-group-item text-center"><strong>Mode</strong></li>
      <label class="btn btn-default-mode btn-lg active" id="manual">
        <input type="radio" name="mode"><small>Manual</small>
      </label>
      <label class="btn btn-default-mode btn-lg" id="autounlock">
        <input type="radio" name="mode"><small>Auto Unlock</small>
      </label>
      <label class="btn btn-default-mode btn-lg" id="pinunlock">
        <input type="radio" name="mode"><small>Pin Unlock</small>
      </label>
      <label class="btn btn-default-mode btn-lg" id="forward">
        <input type="radio" name="mode"><small>Forward</small>
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Manual Mode</h3>
    </div>
    <div class="panel-body">
      <p>All incoming calls will be forwarded to <%= @recipient %>.</p>
    </div>
  </div>
  </div>
</div>

</br>