<div class="new-setting-flow">
  <div class="panel panel-default">
    <div class="panel-body">
      <h5 class="text-center">You need to set Doorman up first.</h5>
      <h6 class="text-center"><a href="/settings/new">Let's get going...</a></h6>
    </div>
  </div>
</div>

</br>