<div class="new-setting-flow">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="text-center">Before you start, we have some things to set up.</h4>
      <h5 class="text-center"><a href="/settings/new">Let's get going...</a></h5>
    </div>
  </div>
</div>
</br>