<div class="row splash">
  <div class="col-md-4">
    <h1 class="headline"><i class="fa fa-lock"></i> Doorman</h1>
    <p class="lead">Supercharge your apartment buzzer.</p>
      <a class="btn btn-lg btn-success text-center" href="/users/sign_up">Sign Up Free</a>
  </div>

    <div class="col-md-8">
      <%= image_tag("laptop.png") %>
    </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><i class="fa fa-unlock-alt"></i> Auto Unlock</h4>
    <p>Having a party or expecting a delivery? Let Doorman unlock the gate for you, automatically.</p>

    <h4><i class="fa fa-hand-o-right"></i> Pin Unlock</h4>
    <p>Set a secret pin code to secure your gate against unauthorized entry.</p>

    <h4><i class="fa fa-comments"></i> SMS Confirmation</h4>
    <p>Receive a text message confirmation every time Doorman unlocks your door.</p>
  </div>

  <div class="col-lg-6">
    <h4><i class="fa fa-map-marker"></i> Local Number</h4>
    <p>Get a local number from any US area code to use with your buzzer.</p>

    <h4><i class="fa fa-mobile"></i> Call Forwarding</h4>
    <p>Roommates? Set up call forwarding to send unlock requests to up to five different phones.</p>

    <h4><i class="fa fa-wrench"></i> No Hardware Needed</h4>
    <p>Doorman supports any existing phone enabled intercom system.</p>
  </div>
</div>