<div class="jumbotron">
  <h1>Buzzed in.</h1>
    <p class="lead">Automated apartment gate unlocking for the rest of us.</p>
    <p><a class="btn btn-lg btn-success" href="/users/sign_up">Sign Up Free</a></p>
</div>
