<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="new-setting-flow">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Step 1 of 3: Phone Number</h3>
        </div>
        <div class="panel-body">
          <p>First we'll need to pick a phone number to use. Doorman offers phone numbers from any US area-code.</p>
              <span class="pull-right"><button type="button" class="btn btn-primary start">Next...</button></span>
        </div>
      </div>
    </div>
  </div>
</div>