<div class="new-setting-flow">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
      <h5>Step 1: get a phone number</h5>
      <button type="button" class="btn btn-primary btn-lg start">Start</button>
    </div>
  </div>
</div>